html, body{
	background-color: #DDD;
	font-family: Roboto;
	font-size: 16px;
	margin: 0;
}

.container{
	margin: 0 auto;
	padding: 170px 0 0;
	width: 970px;
}

.footer{
	background-color: black;
	width: 100%;
	overflow: hidden;
}

.footer__desc{
	text-align: center;
	color: white;
}

.header{
	background-color: #DDD;
	box-sizing: border-box;
	position: fixed;
	text-align: center;
	width: 100%;
}

.header__title{
	background-color: red;
	color:white;
	margin: 0;
	padding: 10px 0;
}

.header__title h1{
	margin: 0;
}

.search{
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}

.search__input{
	border-radius: 5px;
	border: solid 1px #777;
	height: 20px;
	outline: none;
	width: 170px;
}

.search__btn{
	background-color: green;
	border-radius: 5px;
	border:none;
	color: white;
	height: 20px;
}

.show{
	background-color: white;
	margin-bottom: 30px;
	padding: 17px;
	width: 100%;
	overflow: hidden;
}

.show__img{
	float: left;
	width: 25%
}

.show__desc{
	width: 75%;
	float: left;
}

.show__desc-title{
	margin-top: 0;
}

.show__desc-txt{
	color: #555

}


.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


















